.home {
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: #fff;
}

.home::after {
  content: "";
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  background-image: url("../background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}