.searchSection {
  padding: .5rem;
  min-width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchSection__bar {
  width: 350px;
}

.searchSection__label {
  color: #000;
  font-weight: 600;
  font-size: 21px;
  text-transform: capitalize;
  margin-bottom: 8px;
}